<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="Comp_Background_Terminal_exe" Guid="a3261b0b-fece-5db4-a88d-27502f71aea1" Win64="yes">
        <File Id="File_Background_Terminal_exe" Name="Background-Terminal.exe" Source="$(var.BuildSourceDir)\Background-Terminal.exe" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
