<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(sys.CURRENTDIR)\Config.wxi?>
  <Product Id="*" Name="$(var.ProductName)" Language="1033" Version="1.2.6.0" Manufacturer="shaneduffy.io" UpgradeCode="983054b1-dfd7-4147-b5cc-fc703cefcc1c">
    <Package InstallerVersion="500" InstallPrivileges="limited" Compressed="yes" InstallScope="perUser" Description="$(var.ProductName)"/>

    <MajorUpgrade DowngradeErrorMessage="A newer version of Background Terminal is already installed." />
    <MediaTemplate EmbedCab="yes"/>

    <Feature Id="ProductFeature" Title="Background-Terminal-Setup" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <Icon Id="ProductIcon" SourceFile="../Background-Terminal/background-terminal.ico"/>
    <Property Id="ARPPRODUCTICON" Value="ProductIcon" />
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="LocalAppDataFolder">
        <Directory Id="LocalProgramsFolder" Name="Programs">
          <Directory Id="INSTALLFOLDER" Name="BackgroundTerminal" />
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="AppComponent" Guid="F06374FC-ED82-4AD9-BA08-560103221083" Win64="$(var.Win64)">
        <File Id="AppFile" Name="Background-Terminal.dll" Source="$(var.ReleaseAssemblyPath)\Background-Terminal.dll" KeyPath="yes" />
        <File Id="AppExe" Name="Background-Terminal.exe" Source="$(var.ReleaseAssemblyPath)\Background-Terminal.exe" />
        <File Id="CoreDll" Name="Background-Terminal.Core.dll" Source="$(var.ReleaseAssemblyPath)\Background-Terminal.Core.dll" />
        <File Id="CoreMeterDll" Name="CoreMeter.dll" Source="$(var.ReleaseAssemblyPath)\CoreMeter.dll" />
        <File Id="NotifyIconDll" Name="Hardcodet.NotifyIcon.Wpf.dll" Source="$(var.ReleaseAssemblyPath)\Hardcodet.NotifyIcon.Wpf.dll" />
        <File Id="DepsJson" Name="Background-Terminal.deps.json" Source="$(var.ReleaseAssemblyPath)\Background-Terminal.deps.json" />
        <File Id="RuntimeConfig" Name="Background-Terminal.runtimeconfig.json" Source="$(var.ReleaseAssemblyPath)\Background-Terminal.runtimeconfig.json" />
      </Component>
      <Component Id="RegistryEntries" Guid="27A07591-AF2E-4F62-AC49-16DCA78C9724" Win64="$(var.Win64)">
        <RegistryKey Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\Run">
          <RegistryValue Name="BackgroundTerminal" Type="string" Value="&quot;[INSTALLFOLDER]Background-Terminal.exe&quot;" Action="write" KeyPath="yes"/>
        </RegistryKey>
      </Component>
    </ComponentGroup>
    <CustomAction Id="EXECUTE_AFTER_FINALIZE" Execute="immediate" Impersonate="yes" Return="asyncNoWait" FileKey="AppExe" ExeCommand="" />

    <InstallExecuteSequence>
      <Custom Action="EXECUTE_AFTER_FINALIZE" After="InstallFinalize">NOT Installed</Custom>
    </InstallExecuteSequence>
  </Fragment>
</Wix>
