<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(sys.CURRENTDIR)\Config.wxi?>
  <Product Id="*" Name="$(var.ProductName)" Language="1033" Version="1.2.6.0" Manufacturer="shaneduffy.io" UpgradeCode="983054b1-dfd7-4147-b5cc-fc703cefcc1c">
    <Package InstallerVersion="500" InstallPrivileges="limited" Compressed="yes" InstallScope="perUser" Description="$(var.ProductName)"/>

    <MajorUpgrade DowngradeErrorMessage="A newer version of Background Terminal is already installed." />
    <MediaTemplate EmbedCab="yes"/>

    <Feature Id="ProductFeature" Title="Background-Terminal-Setup" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <Icon Id="ProductIcon" SourceFile="../Background-Terminal/background-terminal.ico"/>
    <Property Id="ARPPRODUCTICON" Value="ProductIcon" />
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="LocalAppDataFolder">
        <Directory Id="LocalProgramsFolder" Name="Programs">
          <Directory Id="INSTALLFOLDER" Name="BackgroundTerminal" />
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <CustomAction Id="EXECUTE_AFTER_FINALIZE" Execute="immediate" Impersonate="yes" Return="asyncNoWait" FileKey="File_Background_Terminal_exe" ExeCommand="" />

    <InstallExecuteSequence>
      <Custom Action="EXECUTE_AFTER_FINALIZE" After="InstallFinalize">NOT Installed</Custom>
    </InstallExecuteSequence>
  </Fragment>
</Wix>


